// $primary-color: #3498db;
// $secondary-color: #2ecc71;
// $text-color: #333;
// $background-color: #f5f5f5;

// $dark_text_color: #1a1a1a;
// $light_text_color: #f1f1f1;


$color_1: #164B60;
$color_2: #1B6B93;
$color_3: #4FC0D0;
$color_4: #A2FF86;
$color_7: #5C8374;
$color_9: #3B1C32;

$color_primory-bg: #0B192C;
$color_app-bg: #183D3D;

$color_secondary-text: #93B1A6;

// Media queries
$media-desktop: 1535px;
$media-laptop: 1025px;
$media-netbook: 960px;
$media-tablet: 832px;
$media-tablet-small: 672px;
$media-mobile: 480px;
$media-mobile-small: 336px;
